################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventSourcing/obj
/EventSourcing/.vs/EventSourcing/v17
